APP_DATABASE_URL=${APP_DATABASE_URL}

AUTH_SECRET_KEY=${AUTH_SECRET_KEY}
SECRET_KEY=${SECRET_KEY}
AUTH_ALGORITHM=${AUTH_ALGORITHM}

REDIS_URL=redis://job-tracker-redis:6379/0

ADZUNA_APP_ID=${ADZUNA_APP_ID}
ADZUNA_APP_KEY=${ADZUNA_APP_KEY}
ADZUNA_COUNTRY=${ADZUNA_COUNTRY}