DATABASE_URL=postgresql://xxx

AUTH_SECRET_KEY=sxxf-random
SECRET_KEY=sxxf-random
AUTH_ALGORITHM=HS256

REDIS_URL=redis://job-tracker-redis:6379/0


ADZUNA_APP_ID=xxxcxx
ADZUNA_APP_KEY=xxx8cxxx
ADZUNA_COUNTRY=in